@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

html {
  display: block;
}
* {
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
  width: 100%;
  font-weight: lighter;
}


body {
  background-color: #F9FAF3;
  color: #1A1C18;
  font-size: 0.5rem;
  font-family: "Georama", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}



.dark {
  background-color: rgba(255, 255, 255, 0.55);
  transition: 2s;
}


.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color: rgb(250, 239, 196);
  color: #0f0e0d;
}

header {
  height: 9vh;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
}

header,
footer {
  display: block;
  color: #FFF;
  background-color: #121410;
}


article.skill-row,
h1 {
  display: block;
  margin-left: 4vw;
}

h1 {
  line-height: 70px;
  font-size: 5vw;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.55);
  padding-bottom: 3vh;
}


article.skill-row,
h1 {
  display: block;
  margin-left: 4vw;
  font-weight: lighter;
  font-size: 2.25rem;
  color: #fff;
}

h2 {
  display: block;
  font-size: 1.7rem;
  color: #1A1C18;
}


h2 a {
  line-height: 40px;
  font-weight: 300;
  margin: 2rem 0;
}

h2 a:hover {
  color: #fff;
}

h2 a:active {
  color: #e1a80b;
}

h2 a:visited {
  color: #e1a80b;
}
h2.skill {
  line-height: 40px;
  font-weight: 300;
  margin: 1rem 0;
}

h5.skill {
  color:#20261D;
  font-size: 1.75rem;
}

h5.skill:first-child, 
h5.skill:nth-child(2){  
  margin-top: 12.0vh;
}

h5.headline {
  font-size: 4rem;
  font-weight: lighter;
}

h5.skill a:hover {
  color: #fff;
}

h5.skill a:active {
  color: #20261D;
}

h5.skill a:visited {
  color: #3E453B;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

article.skill-row {
  flex: 400px;
  margin-right: 6vw;
}

h5 {
  font-size: 2.25em;
}

p {
  font-size: 0.9rem;
  line-height: 2;
  margin-bottom: 3.5em;
}

h2 {
  line-height: 40px;
  font-weight: 300;
  margin: 2rem 0;
}

h5.skill {
  color:#4E0002;
  margin-bottom: 1.0rem;
}

h2 {
  font-size: 4rem;
  font-weight: lighter;
}

h2 a:hover {
  color: #fff;
}

h2 a:active {
  color: #e1a80b;
}

h2 a:visited {
  color: #e1a80b;
}
h3 {
  text-decoration: none;
  font-size: 2em;
}

a {
  color: #4b653d;
  text-decoration: none;
}

.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 20px 0;
}

img {
  max-width: 700px;
}

img.django-image,
img.beadwork-image,
img.trivial-image,
img.mmc-image,
img.mne-image {
  flex: 2;
  border: 0.5px solid darkgray;
  border-radius: 2%;
  max-width: 65%;
  padding-bottom: 5px;
}


img.django-image,
img.mmc-image {
  order: 2;
  margin-bottom: 20px;
}

footer {
  clear: both;
  position: fixed;
  color: #000;
  height: 8vh;
  overflow: hidden;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

img.top {
  margin-top: 2.0rem;
  max-width: 2.5rem;
  margin-bottom: 4.0rem;
}

p.copyright {
  color: #000;
  font-weight:bolder;
  font-size: 1.75rem;
  margin-bottom: 6.0rem;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200%;
}


p {
  display: inline-block;
  margin-bottom: 0.5vh;
}


p.paragraph-left,
p.paragraph-right {
  color: #20261D;
  font-size: 1.5rem;
}


footer {
  height: 10vh;
  font-size: 5rem;
  background-color:#121410;
  padding: 10px 0 20px;
  text-align: center;
  opacity: 0.8;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0.25vw 0;
}

footer ul li {
  padding: 0.85vw;
}

/* -------------------------------Media Queries------------------------------------- */


@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
    line-height: 40px;
  }

  p {
    position: relative;
    padding: 1rem;
    margin: -3rem 0 2rem 1rem;
  }

  footer {
    height: 4vh;
  }
}

